{{#if (eq displayLength 5)}}
<h2>Recent Posts</h2>
{{else}}
<h2>All Posts</h2>
<div>
  <p>View by Location</p>
  {{radio-button value='all' groupValue=filterBy}} All
  {{#each location-list as |location|}}
    {{radio-button value=location.city groupValue=filterBy}} {{location.city}}
  {{/each}}
</div>
{{/if}}
{{#each post-list as |post index|}}
  {{#if (leq post-list.length index displayLength)}}
    {{#if (eq filterDefinition post.location.city)}}
      {{post-tile post=post}}
    {{/if}}
    {{#if (eq filterDefinition 'all')}}
      {{post-tile post=post}}
    {{/if}}
  {{/if}}
{{/each}}
{{#if (eq displayLength 5)}}
<button {{action 'showAll'}}>Show All</button>
{{else}}
<button {{action 'showRecent'}}>Show Recent</button>
{{/if}}

<br><br>
