{{#if addNewPost}}
  <h1>New Post</h1>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      {{input value=title id="title"}}
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author id="author"}}
    </div>

    <div class="form-group">
      <label for="date">Date</label>
      {{input value=date id="date"}}
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <select name="location" onchange={{action "updateValue" value="target.value"}}>
          <option value="#" selected="selected" disabled="">Select a location</option>
        {{#each location-list as |location index|}}
          <option value={{index}} selected={{eq selectedLocation index}}>{{location.city}}, {{location.country}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      {{input value=content id="content"}}
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      {{input value=image id="image"}}
    </div>

    <button{{action 'savePost'}}>Save</button>
    <button{{action 'cancel'}}>Cancel</button>
  </form>
  {{else}}
    <h1>Add Post</h1>
    <button {{action 'articleFormShow'}}>New Post</button>
{{/if}}
